body {
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.flex-cntainer {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
    padding-top: 2%;
}

.half-width img {
    width: 80%;

}

h1 {
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 40px;
}

.text-color {
    color: rgb(252, 173, 2);
}

.left-border {

    border-left: 5px solid rgb(252, 173, 2);
    padding-left: 7px;
    border-radius: 5px 5px;
}

.button {
    text-decoration: none;
    background-color: rgb(241, 70, 70);
    padding: 10px 50px;
    color: white;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(71, 120, 255);
    font-size: 20px;
}

p {
    margin: 35px 0px;
}

.mission-2022 {
    text-align: center;
}

.mission {
    width: 80%;
    padding: 10%;
}

.flex-card {
    width: ;

}

.mission-box {
    width: 25%;
    padding: 5%;

    margin: 0 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 40px gray;
}

.mission-box:hover {
    font-size: 15px;
}

.icon-img {
    width: 150px;
    height: 120px;
}

.box-1 {
    background-color: rgb(183, 252, 252);
}

.box-2 {
    background-color: rgb(255, 154, 176);
}

.box-3 {
    background-color: rgb(250, 224, 167);
}

.develop {
    background-image: url(/images/shapes/shape-3.png);
    background-repeat: no-repeat;
}

.community {
    background-image: url(/images/shapes/shape-7.png);
    background-repeat: no-repeat;
}

.servis-heading {
    color: rgb(108, 108, 255);

}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}

#service-img:hover {
    background-image: linear-gradient(rgb(141, 141, 241), rgb(255, 98, 98));
    border-radius: 50%;
}